<!-- Feature section -->
<section class="theme-bg feature" id="feature">
  <div class="container">
    <div class="animation-circle-inverse">
      <i></i>
      <i></i>
      <i></i>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2 class="text-white">{{'FEATURES.HEADER' | translate}}</h2>
          <img src="assets/images/white-line.png" alt="white-line" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="future-box">
          <div class="future-timeline">
            <ul>
              <li class="timeline">
                <h4 class="sub-title">{{'FEATURES.FEATURE1_HEADER' | translate}}</h4>
                <p class="">{{'FEATURES.FEATURE1_DESCRIPTION' | translate}}</p>
              </li>
              <li class="timeline">
                <h4 class="sub-title">{{'FEATURES.FEATURE2_HEADER' | translate}}</h4>
                <p class="">{{'FEATURES.FEATURE2_DESCRIPTION' | translate}} </p>
              </li>
              <li class="timeline">
                <h4 class="sub-title">{{'FEATURES.FEATURE3_HEADER' | translate}}</h4>
                <p class="">{{'FEATURES.FEATURE3_DESCRIPTION' | translate}} </p>
              </li>
              <li class="timeline">
                <h4 class="sub-title">{{'FEATURES.FEATURE4_HEADER' | translate}}</h4>
                <p class="">{{'FEATURES.FEATURE4_DESCRIPTION' | translate}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 future-mobile">
        <img src="assets/images/feature-mob.png" alt="feature-mob" class="img-fluid">
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="future-box">
          <div class="future-timeline-right">
            <ul class="text-left">
              <li class="timeline-right">
                <h4>{{'FEATURES.FEATURE5_HEADER' | translate}}</h4>
                <p class="">{{'FEATURES.FEATURE5_HEADER' | translate}}</p>
              </li>
              <li class="timeline-right">
                <h4>{{'FEATURES.FEATURE6_HEADER' | translate}}</h4>
                <p class="">{{'FEATURES.FEATURE6_HEADER' | translate}}</p>
              </li>
              <li class="timeline-right">
                <h4>{{'FEATURES.FEATURE7_HEADER' | translate}}</h4>
                <p class="">{{'FEATURES.FEATURE7_HEADER' | translate}}</p>
              </li>
              <li class="timeline-right">
                <h4>{{'FEATURES.FEATURE8_HEADER' | translate}}</h4>
                <p class="">{{'FEATURES.FEATURE8_HEADER' | translate}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end Feature section -->