<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
	<appSettings>
		<add key="RClonePath" value="../../rclone.exe"/>
		<add key="Host" value="http://192.168.0.101"/>
		<add key="Port" value="9080"/>
		<add key="Params" value = "--progress :http:"/>
		<add key="Command" value = "sync"/>
		<add key="TargetDir" value = "fubble"/>
		<add key="FubblePath" value = "fubble.exe"/>
	</appSettings>
</configuration>