atomicwrites==1.1.5
attrs==18.1.0
click==6.7
coverage==4.5.1
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.2.0
pkg-resources==0.0.0
pluggy==0.6.0
protobuf==3.5.2.post1
py==1.5.3
pytest==3.6.1
six==1.11.0
Werkzeug==0.14.1
