<!-- contact-section -->
<section class="contact" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="section-title">
          <h2>{{'CONTACT.GET_IN_TOUCH' |translate }}</h2>
        </div>
        <form class="auth-form" action="https://formspree.io/xrgaklqa" method="POST" #form>
          <div class="form-group">
            <label for="exampleInputName1">{{'CONTACT.NAME_HINT' |translate }}</label>
            <i class="fa fa-user"></i>
            <input name="name" [formControl]="contactForm.controls['name']" type="text" class="form-control"
              id="exampleInputName1" placeholder="{{'CONTACT.NAME' |translate }}">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail12">{{'CONTACT.MAIL_HINT' |translate }}</label>
            <i class="fa fa-envelope-o"></i>
            <input required="" name="_replyto" [formControl]="contactForm.controls['email']" class="form-control"
              id="exampleInputEmail12" placeholder="{{'CONTACT.MAIL' |translate }}">
            <div *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.email"
              class="text text-danger">{{'CONTACT.INVALID_MAIL' |translate }}</div>
            <div *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.required"
              class="text text-danger">{{'CONTACT.MAIL_HINT' |translate }}</div>
          </div>
          <div class="form-group">
            <label>{{'CONTACT.MESSAGE_HINT' |translate }}</label>
            <i class="fa fa-commenting-o"></i>
            <textarea class="form-control" name="message" [formControl]="contactForm.controls['message']" id="message"
              cols="30" rows="10" placeholder="{{'CONTACT.MESSAGE' |translate }}"></textarea>
            <div *ngIf="contactForm.controls.message.touched && contactForm.controls.message.errors?.required"
              class="text text-danger">{{'CONTACT.MESSAGE_HINT' |translate }}</div>
          </div>
          <div class="form-group mb-0">
            <button class="btn-theme" [disabled]="!contactForm.valid" type="submit"
              (click)="form.submit()">{{'CONTACT.SEND' |translate }}</button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="section-title">
          <h2>{{'CONTACT.INFO' |translate }}</h2>
        </div>
        <p>{{'CONTACT.DESCRIPTION' |translate }}</p>
        <ul class="contact-box">
          <li>
            <div class="contact-circle">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="contact-text">
              <h3>{{'CONTACT.LOCATION_HEADER' | translate}}</h3>
              <p>{{'CONTACT.LOCATION_INFO' | translate}}</p>
            </div>
          </li>
          <li>
            <div class="contact-circle">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="contact-text">
              <h3>{{'CONTACT.CALL_HEADER' | translate}}</h3>
              <p>{{'CONTACT.CALL_INFO' | translate}}</p>
            </div>
          </li>
          <li>
            <div class="contact-circle">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <div class="contact-text">
              <h3>{{'CONTACT.MAIL_HEADER' | translate}}</h3>
              <p>{{'CONTACT.MAIL_INFO' | translate}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->