<!-- slider-section -->
<section class="slide-bg landing-page" id="home">
  <div class="animation-circle-inverse">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="animation-circle-inverse absolute">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex-1">
          <div class="slide-text">
            <div>
              <h1>{{'INTRO.SLOGAN' | translate }} </h1>
              <h1 class="h1-small">{{'INTRO.HEADER' | translate }} </h1>
              <h4 class="add-margin-top">{{'INTRO.FREE' | translate }}</h4>
              <div class="slid-btn">
                <a [routerLink]="'/home/one'"><img src="assets/images/download_windows.png" alt="app2"
                    class="img-fluid download-button" data-tilt data-tilt-perspective="50" data-tilt-speed="350"
                    data-tilt-max="1.8"></a>
                <a [routerLink]="'/home/one'"><img src="assets/images/download_linux.png" alt="app1"
                    class="img-fluid download-button" data-tilt data-tilt-perspective="50" data-tilt-speed="350"
                    data-tilt-max="1.8"></a>
              </div>
              <h4 class="add-margin-top">{{'INTRO.COMING_SOON' | translate }}</h4>
              <div class="slid-btn">
                <a [routerLink]="'/home/one'"><img src="assets/images/download_browser.png" alt="app2" class="img-fluid"
                    data-tilt data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8"></a>
                <a [routerLink]="'/home/one'"><img src="assets/images/download_mobile.png" alt="app1" class="img-fluid"
                    data-tilt data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="home-right">
          <div class="mobile-slid">
            <img src="assets/images/top-mobile.png" alt="screenshot1" class="img-fluid">
          </div>
          <div class="bubble-registration">
            <img src="assets/images/bubble_registration.png" alt="top2" class="img-fluid">
          </div>
          <div class="bubble-free">
            <img src="assets/images/bubble_free.png" alt="top5" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end slider section -->