<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Connection settings -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/fubble_database</property>
		<property name="hibernate.connection.username">fubbler</property>
		<property name="hibernate.connection.password">dagmar</property>

		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

		<property name="show_sql">false</property>

		<!-- Mapping files -->
		<!-- <mapping resource="com.freckles.of.couple.fubble.entities.Room">
		<mapping resource="com.freckles.of.couple.fubble.entities.User"> -->
		<mapping class="com.freckles.of.couple.fubble.entities.User"/>
		<mapping class="com.freckles.of.couple.fubble.entities.Room"/>
		
	</session-factory>
</hibernate-configuration>