<!-- about section-->
<section id="about" class="pb-0 about">
  <div class="about-chat">
    <div class="container ">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="section-title">
            <h2>{{ 'NAVIGATION.ABOUT' | translate}} {{ 'NAME' | translate}}</h2>
            <img src="assets/images/title-line.png" alt="title-line" class="img-fluid">
          </div>
        </div>
        <div class="col-md-12 text-center about-description">
          <p>{{ 'ABOUT.FUBBLE_DESCRIPTION' | translate}}</p>
        </div>
        <div class="col-md-12 about-box">
          <div class="row">
            <div class="col-lg-3 col-sm-6 about-border">
              <div class="chat-box">
                <img src="assets/images/stay-connected.png" alt="stay-connected">
                <h3 class="sub-title">{{'ABOUT.CONNECTED' | translate}}</h3>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 about-border">
              <div class="chat-box">
                <img src="assets/images/video.png" alt="get-notified">
                <h3 class="sub-title">{{'ABOUT.VIDEO' | translate}}</h3>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 about-border">
              <div class="chat-box">
                <img src="assets/images/easy.png" alt="stay-updated">
                <h3 class="sub-title">{{'ABOUT.EASY' | translate}}</h3>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="chat-box">
                <img src="assets/images/no-registration.png" alt="mini-world">
                <h3 class="sub-title">{{'ABOUT.NO_REGISTRATION' | translate}}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="chat-slide">
            <h3>{{'ABOUT.CONNECT_WITH_PEOPLE' | translate}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center">
    <img src="assets/images/banner.png" alt="banner.png" class="img-fluid full-banner">
  </div>
</section>
<!-- end about section  -->